@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    /* color */
    --bodycolor: #e4e9e4f7;
    --sidebarcolor: #FFF;
    --primarycolor: #695CFE;
    --tooglecolor:#DDD ;
    --textcolor: #707070;
    --hovercolor: #0062FF;

    /* Transition */
    --tran-03: all 0.2s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.4s ease;
    --tran-06: all 0.5s ease;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 50px;
    background: var(--bodycolor);
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    padding: 10px;
    background: var(--sidebarcolor);
    transition: var(--tran-05);
}
.sidebar.close{
    width: 80px;
}
.sidebar.close .text{
    opacity: 0;
}
.sidebar hr{
    width: 100%;
    /* margin digunakan untuk mengatur jarak */
    margin: 15px 0;
}
/* mengatur jarak antar huruf dan gambar */
.sidebar .image{
    min-width: 70px;
    display: flex;
    align-items: center;
}
 .sidebar .image-text .img1{
    width: 80px;
    border-radius: 6px;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
} 
/* mengatur text */
.sidebar .text{
    font-size: 22px;
    font-weight: 2000;
    color: var(--textcolor);
    transition: var(--tran-04);
    white-space: nowrap;
}
/* mengatur gambar */
.sidebar .image img{
    width: 50px;
    display: flex;
}
.sidebar header .arrow{
    position: absolute;
    top: 50%;
    right: -25px; 
    transform: translateY(-50%); 
    height: 30px;
    background-color: var(--primarycolor);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    color: var(--bodycolor);
    font-size: 30px;
}
.sidebar header{
    position: relative;
}
.sidebar li{
    height: 58px;
    margin-top: 20px;
    align-items: center;
    display: flex;
}
.sidebar li .icons{
    min-width: 60px;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}
.sidebar li a{
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    text-decoration: none;
    border-radius: 6px;
}
.sidebar li a:hover .icons,
.sidebar li a:hover{
    background: var(--hovercolor);
}

.sidebar .bottom-content li{
    height: 40px;
}
.sidebar .bottom-content .admin i{
    background-color: #695CFE;
    border-radius: 100%;
    align-items: center;
}


.sidebar .menu-bar{
    display: flex;
    height: 85%;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar .menu-bar .menu{
    margin-left: -16px;
    margin-top: 1px;
}